{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {{ form_start(form, {
            'attr': {'class': 'navbar-form'}})
        }}
        {{ form_widget(form.search, {
            'attr': {'class': 'form-control', 'role': 'search'}}) }}
        <button class="btn btn-default" id="form_Go" name="search" type="submit"><i class="glyphicon glyphicon-search"></i></button>

        {{ form_end(form) }}
    </div>


    <div class="list-group">
        {% for user in profilesSearch %}
            <a href="{{ path('get_id_profile', {'idProfile': user.id}) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ user.username}}</h4>
                <p class="list-group-item-text">
                    {% for skill in user.teacherSkills %}
                        {{ skill.course }}
                    {% endfor %}
                </p>
                <h4 class="list-group-item-text">
                    {{ user.description}}</h4>

            </a>
        {% endfor %}
    </div>

{% endblock %}