{% extends 'base.html.twig' %}
{% block body %}
<div class="container"style="width:100%;padding-right: 0px;padding-left: 0px">
        <div class="list-group">

            <h5>{{ user.City}}</h5>
            {#<h3>Member:</h3>#}
                    {#<h4 class="list-group-item-heading"> {{ user.username}}</h4>#}
            <div class="container" style="text-align:center;align-content: center;max-width: 1000px;">
                {#<div class="col-xs-6 col-md-3">#}
                <a href="#">
                    <img src="/img/profile/{{ user.id}}.jpg" class="img-circle">
                </a>
                {#</div>#}
            </div>
            <div class="page-header" style="text-align: center;background: white;padding-bottom:60px;padding-top: 30px;">
                <h1 style="color: color;"> {{ user.username}} {{ user.username}} </h1>
            </div>


                {#<section class="bg-base-800 quotes" style="background:#373942;">#}
                    <h4 class="list-group-item-text" style="text-align: center;black: white;padding: 200px">
                        {{ user.description}}
                    </h4>
                {#</section>#}
            <h3>Mots clès:</h3>
            <p class="list-group-item-text">
                {% for skill in user.teacherSkills %}
            <li> {{ skill.course }}</li>
            {% endfor %}
            </p>
            <div  class="btn-group" role="group" aria-label="...">
                <a href="{{ path('new_message', {'idProfile': user.id}) }}" class="btn btn-default">Contacter</a>
                <a href="{{ path('new_lesson', {'idTeacher': user.id}) }}" class="btn btn-default"> Proposer une course</a>
            </div>

        </div>
</div>
{% endblock %}







