<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Social Course</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <kbd>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</kbd>
                        <a class="btn btn-success" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        {{ render(controller("FOSUserBundle:Security:login")) }}
                    {% endif %}
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1>Take a course !</h1>
                <p><a class="btn btn-primary btn-lg" href="{{ path('new_course') }}" role="button">Create course »</a></p>
            </div>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
    <hr>

    <footer>
        <p>© 2016 Company, Inc.</p>
    </footer>
</html>
