{% extends 'base.html.twig' %}

{% block title %}Conversations List{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    {{ form_start(form, {
        'method': 'post',
        'action': path('register_step_2', {'userId': user.id}),
        'attr': {'class': 'form-horizontal'}})
    }}
        <div class="form-group">
            {{ form_label(form.birthDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            {{ form_errors(form.birthDate) }}
            <div class="col-sm-4">
                {{ form_widget(form.birthDate, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.country, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            {{ form_errors(form.country) }}
            <div class="col-sm-4">
                {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.city, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            {{ form_errors(form.city) }}
            <div class="col-sm-4">
                {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.zipCode, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            {{ form_errors(form.zipCode) }}
            <div class="col-sm-3">
                {{ form_widget(form.zipCode, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.address, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            {{ form_errors(form.address) }}
            <div class="col-sm-10">
                {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.phone, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            {{ form_errors(form.phone) }}
            <div class="col-sm-4">
                {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}